<app-modal [title]="title">
  <div class="formContainer">
    <form #reminderF="ngForm" autocomplete="off" id="reminderForm" (ngSubmit)="saveReminder()">
      <div class="cols-2">
        <div class="inputGroup" *ngIf="!isEditing">
          <label for="dateInput">Selected date</label>
          <input id="dateInput" type="text" readonly #dateInput="ngModel" name="dateInput"
            [(ngModel)]="selectedDay.date">
        </div>
        <div class="inputGroup" *ngIf="isEditing">
            <label for="dateInput">Selected date</label>
            <input id="dateInput" type="text" readonly #dateInput="ngModel" name="dateInput"
              [(ngModel)]="reminderForm.date">
        </div>
        <div class="inputGroup">
          <label for="time">Time *</label>
          <input id="time" type="time" name="timeInput" #timeInput="ngModel" required [(ngModel)]="reminderForm.time">
          <p class="error" *ngIf="timeInput.touched && timeInput.errors && timeInput.errors.required">Time is required</p>
        </div>
      </div>

       <div class="inputGroup">
        <label for="subject">Title *</label>
        <input id="subject" maxlength="20" type="text" #subjectI="ngModel" name="subjectInput" required [(ngModel)]="reminderForm.subject">
        <p class="error" *ngIf="subjectI.touched && subjectI.errors && subjectI.errors.required">Title is required</p>  
    </div>
      <div class="inputGroup">
        <label for="subjectInput">Reminder Text *</label>
        <textarea id="subjectInput" maxlength="30" #reminderI="ngModel" name="reminderInput" required [(ngModel)]="reminderForm.text" cols="30"
          rows="3">
        </textarea>
        <p class="error" *ngIf="reminderI.touched && reminderI.errors && reminderI.errors.required">Text is required</p>  
      </div>
      <div class="cols-2">
        <div class="inputGroup">
          <label for="colorInput">Color</label>
          <input id="colorInput" type="color" #colorI="ngModel" name="colorInput" [(ngModel)]="reminderForm.color">
        </div>
        <div class="inputGroup">
          <label for="cityInput">City</label>
          <select name="citySelect" id="cityInput" #cityI="ngModel" name="cityInput" [(ngModel)]="reminderForm.city"
            (change)="queryForCityWeather()">
            <option value=""></option>
            <option *ngFor="let city of citiesList" [value]="city.id">{{city.name}}</option>
          </select>
        </div>
      </div>
      <div class="weatherInfoContainer" *ngIf="gotCityWeather">
          <img style="max-height: 60px;" src="http://openweathermap.org/img/wn/{{reminderForm.weather.icon}}.png" alt="">
          <div class="weatherTextContainer">
              <p class="temperature">{{reminderForm.weather.temperature}} <sup>°C</sup></p>
              <p class="description">{{reminderForm.weather.main}} - <span>{{reminderForm.weather.description}}</span></p>
          </div>    
    </div>
    <button type="submit" [disabled]="!reminderF.form.valid">Save Reminder</button>
    
    </form>
    <button *ngIf="isEditing" class="dangerButton" type="button" (click)="deleteReminder()">Delete Reminder</button>

  </div>
</app-modal>
