.mainModalContainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    backdrop-filter: blur(2px);
}

.visibleModal{
    display: initial;
}

.invisibleModal{
    display: none;

}

.modalBody{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    margin-top: 10%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
border-radius: 8px;
}

.modalTitleContainer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.modalCloseButton{
    border: none;
    font-size: 1.5em;
    background-color: white;
    cursor: pointer;
}