<div class="mainModalContainer invisibleModal" id="modalCont">
  <div class="modalBody">
    <div class="modalTitleContainer">
      <h3>
        {{title}}
      </h3>
      <button class="modalCloseButton" (click)="hideModal(true)">
        X
      </button>
    </div>
    <ng-content></ng-content>
  </div>

</div>
