.calendarContainer {
  position: relative;
  height: 100vh;
}

.controlsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.mainControl {
  font-size: 125%;
  padding: 7px;
  border: none;
  background-color: #00BCD4;
  color: white;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

.mainControl:hover {
  opacity: .80;
}

.daysMontsDisplay {
  position: absolute;
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
  padding: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  max-height: 80vh;
  overflow-y: auto;
  background-color: white;
  z-index: 1;
}

.daysMontsDisplay.months {
  left: 0;
  visibility: hidden;
}

.daysMontsDisplay.years {
  right: 0;
  visibility: hidden;
}

div.visible {
  visibility: visible !important;
}

.daysMonthsItem {
  text-align: center;
  color: #00BCD4;
  transition: 0.2s;
}

.daysMonthsItem:hover {
  background-color: #00BCD4;
  color: white;
  cursor: pointer;
}

.daysMonthsItem>p {
  margin: 0;
}

.headerDatescontainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  background-color: #009688;
  color: white;
}

.daysItemsContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
}

.dayItem {
  border: 1px solid rgba(185, 185, 185, 0.733);
  width: 100%;
  padding: 10px 0;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
}



.addReminder{
  position: absolute;
  right: 0;
  top: 0;
  border: none;  
  font-size: 105%;
  width: 25%;
  font-weight: bolder;
  background-color: #00BCD4;
  color: white;
  cursor: pointer;
  visibility: hidden;
}


.visible{
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.dayItem>p {
  text-align: center;
}

.deleteBtn {
  position: absolute;
  bottom: 50px;
  right: 0;
  font-size: 2em;
  border: none;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;

  color: white;
  transition: 0.2s;
}

.deleteBtn > img {
  width: 100%;
  height: 100%;
}

.pdeleteBtnlus:hover{
  opacity: .70;
}

.reminderContainer{
  display: flex;
  flex-flow: column;
  margin: 0 5px;
  padding: 0 10px;
  background-color: white;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  visibility: hidden;
}

.reminderContainer > button {
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 5px;
  margin-bottom: 5px;
}

.reminder{
  font-size: 80%;
  transition: 0.2s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.05s cubic-bezier(.25,.8,.25,1);
}

.reminder:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.miniRemContainer{
  display: flex;
  flex-flow: row wrap;
  margin: 0 5px;
  justify-content: flex-start;
}

.remSpot{
  border-radius: 8px;
  padding: 5px;
  font-size: 70%;
  margin: 5px 0px 0px 5px;
}
