<div class="calendarContainer">
  <div class="controlsContainer">
    <button class="mainControl" (click)="openMonthsYearCont('monthsCont')">
      {{selectedMonth.tag}}
    </button>
    <h3 class="title">Calendar Widget</h3>
    <button class="mainControl" (click)="openMonthsYearCont('yearsCont')">
      {{selectedYear}}
    </button>
  </div>
  <div class="daysMontsDisplay months" id="monthsCont">
    <div class="daysMonthsItem" *ngFor="let month of monthsOfYear.months" (click)="setCurrentMonthValue(month)">
      <p>{{month.tag}}</p>
    </div>
  </div>
  <div class="daysMontsDisplay years" id="yearsCont">
    <div class="daysMonthsItem" *ngFor="let year of yearsArray" (click)="setCurrentYearValue(year)">
      <p>{{year}}</p>
    </div>
  </div>
  <div class="daysContainer">
    <div class="headerDatescontainer">
      <p class="dayTitle">
        Sun
      </p>
      <p class="dayTitle">
        Mon
      </p>
      <p class="dayTitle">
        Tue
      </p>
      <p class="dayTitle">
        Wed
      </p>
      <p class="dayTitle">
        Thu
      </p>
      <p class="dayTitle">
        Fri
      </p>
      <p class="dayTitle">
        Sat
      </p>
    </div>
    <div class="daysItemsContainer">
      <div class="dayItem" *ngFor="let day of emptyDays">


      </div>
      <div class="dayItem" *ngFor="let day of currentDaysInMonth; let i = index;" (mouseover)="showAddBtn(i)"
        (mouseleave)="hideAddBtn(i)">
        <button class="addReminder" id="rem-btn-{{i}}" (click)="openReminderForm(day)">
          +
        </button>
        <p>{{day.tag}}</p>
        <div class="miniRemContainer" id="mini-rem-container-{{i}}">
          <div class="remSpot" *ngFor="let reminder of day.reminders" style="border:1px solid {{reminder.color}}; color: {{reminder.color}};">
            {{getHour(reminder)}}
          </div>
        </div>
        <div class="reminderContainer" id="rem-container-{{i}}">
          <button class="reminder" *ngFor="let reminder of day.reminders"
            style="border: 1px solid {{reminder.color}}; background-color:white; color: {{reminder.color}};" (click)="editFormItem(reminder)">
            {{reminder.date | date:'MM/dd/yyyy'}} - {{getHour(reminder)}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <button class="deleteBtn" (click)="deleteAllReminders()">
    <img src="https://img.icons8.com/color/96/000000/delete-forever.png"/>
  </button>
</div>
<app-events-form [selectedDay]="selectedDay"
 [reminderForm]="selectedReminder"
 (saveReminderEvent)="saveReminder($event)"
 (editReminderEvent)="editReminder($event)"
 (deleteReminderEvent)="deleteReminderEvent($event)"
 ></app-events-form>
