/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'Poppins-Regular';
    src: url('./assets/fonts/Poppins-Regular.ttf');
    font-display: swap;
}

*{
    font-family: 'Poppins-Regular';
   
}

button{
    outline: none;
}

.formContainer{
    padding: 15px 0;
}

.inputGroup{
    display: flex;
    flex-flow: column;
    margin-bottom: 25px;
}

.inputGroup > input, .inputGroup > textarea, .inputGroup> select{
    font-size: 105%;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 10px;
    background-color: white;
}

.inputGroup > input:hover, .inputGroup > input:focus, .inputGroup > textarea:hover, .inputGroup > textarea:focus, .inputGroup> select:hover, .inputGroup> select:focus{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cols-2{
    display: flex;
    flex-flow: row nowrap;
    
}

.cols-2 > .inputGroup {
    width: 48%;
    
}

.cols-2 >.inputGroup:last-child{
    margin-left: 2%;
}

form > button {
    width: 100%;
    border-radius: 8px;
    border: none;
    font-size: 110%;
    padding: 15px;
    cursor: pointer;
    background-color: #00796B;
    color: white;
    font-weight: bold;
    transition: .2s;
    margin-bottom: 5px;
}

form > button:hover{
    opacity: .80;
}

form > button:disabled {
    opacity: .50;
}

.dangerButton{
    width: 100%;
    border-radius: 8px;
    border: none;
    font-size: 110%;
    padding: 15px;
    cursor: pointer;
    background-color: #ad000e;
    color: white;
    font-weight: bold;
    transition: .2s;
}

.dangerButton:hover {
    opacity: .80;
}

.error{
    color: red;
    margin: 10px 0 5px 0;
}